html{
  height: 100%;
  font-size: 100%;
}

body {
  font: 12px arial;
}

nav{
  padding: 4px 20px;
}

ul{
  list-style: none;
  padding: 0px;
  line-height: 0px;
}

li{
  display: inline-block;
  padding: 5px 7px;
  vertical-align: middle;
}

.right-nav{
  float: right;
  position: relative;
  padding-top: 0px;
  padding-right: 8px;

}
.menu{
  width:25px;
  height: 16px;
  margin-top: -2px;
  padding-right: 9px;
  opacity: 0.75;
}

nav img{
   list-style: none;
   color: #000;
   opacity: 0.85;
}

nav a{
  text-decoration: none;
  color:black;
}

nav  a:hover {
  text-decoration-line: underline;
  opacity: 0.65;
}

.signin{
  border:1px solid #4285f4;
  background: #4485f3;
  outline: none;
  display: inline-block;
  line-height: 28px;
  border-radius: 3px;
  padding: 0 12px;
  color:#fff;
}

/*milieu*/
.google {
  position:absolute;
  text-align: center;
  top:50%;
  left:50%;
  margin-right: -50%;
  transform: translate(-50%,-50%);
}
#google_logo {
  height:95px;
  width:275px;
  display:100% ,block;
  margin-bottom: 25px;
  position:relative;
}
.form {
  display:block;
  margin:auto;
}
#form-search {
  width: 600px;
  height: 43px;
  margin: auto;
  border-radius: 30px;
  border:.7px solid #e4e4e4;
  background-color: #fff;
  box-shadow: 0px 1px 4px #e4e4e4;
  margin-bottom: 25px;
  outline: none;
  text-indent: 25px;
  padding-left: 20px;
}
#form-search:hover,#form-search:active{
  padding-bottom:2px;
  padding-top:1px;
  margin-top:-1px;
  box-shadow: 0px 2px 20px #e4e4e4;
  outline:none;
}
.mic{
  width:14px;
  height:20px;
  position:relative;
  left:133px;
  top:81px;
}
.rech{
  width:12px;
  height:15px;
  position:relative;
  left: -425px;
  top: 82px;
}
#submit{
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-left: 5px;
  margin-right: 5px;
  position:relative;
  color: #757575;
  display: inline-block;
}
#submit:hover{
box-shadow: 0px 1px 4px #e4e4e4;
color:#0000;
border:0.7px solid #d0d0d0;
color: #757575;
}

/*footer*/
footer{
  position:absolute;
  left: 0;
  right:0;
  bottom: 0;
  top: auto;
}
#footer1 {
  color: #757575;
  background-color: #f2f2f2;
  line-height: 0;
  position:absolute;
  border-top: solid 1px #e4e4e4;
  left: 0;
  right:0;
  bottom: 28px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
}

#footer2 {
  color: #757575;
  background-color: #f2f2f2;
  line-height: 0;
  position:absolute;
  left: 0;
  right:0;
  border-top: solid 1px #e4e4e4;
  bottom: 0;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

footer a{
  text-decoration: none;
  color:#666666;
}

footer ul {
  float: left;
}

footer ul a:hover {
  text-decoration-line: underline;
}

.footer-right {
  float: right;
}
