html {
  height: 100%;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: #555;
  font-family: Open Sans;
  font-size: 16px;
  position: relative;
  height: 100vh;
  font-weight: 400;
}

/* ---------partie1-------------*/
.partie1 {
  height: 40vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35),
  rgba(0, 0, 0, 0.35)), url(img/back.png);
  background-size: cover;
  background-position: center;
  position: relative;
}
.budget {
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
.titreB {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 300;
}
.valeurB {
  font-weight: 300;
  font-size: 46px;
  text-align: center;
  margin-bottom: 25px;
  letter-spacing: 2px;
}
.budgetIncome, .budgetExpenses {
    padding: 12px;
    text-transform: uppercase;
}
.budgetIncome {
    margin-bottom: 10px;
    background-color: #28B9B5;
}
.budgetExpenses {
    background-color: #FF5049;
}
.incomeText, .expensesText {
    float: left;
    font-size: 13px;
    color: #444;
    margin-top: 2px;
}
.right {
  float: right;
}
.incomeValue, .expensesValue {
    letter-spacing: 1px;
    float: left;
}
.income100, .expenses100 {
    float: left;
    width: 34px;
    font-size: 11px;
    padding: 3px 0;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 3px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* -------------partie2-------------- */
.add {
    padding: 14px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f7f7f7;
}
.addCont {
  margin: 0 auto;
  text-align: center;
}
.addSelect {
  width: 55px;
  border: 1px solid #e7e7e7;
  height: 40px;
  font-size: 18px;
  color: inherit;
  background-color: #fff;
  margin-right: 10px;
  font-weight: 300;
  border-radius: 5px;
  transition: border 0.3s;
}
.addDesc, .addValue {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    padding: 12px 15px;
    margin-right: 10px;
    border-radius: 5px;
    transition: border 0.3s;
}
.addDesc {
  width: 400px;
}
.addValue {
  width: 100px;
}
.addBtn {
  font-size: 35px;
  background: none;
  border: none;
  color: #28B9B5;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.1;
  margin-left: 10px;
}
.addBtn:active {
  transform: translateY(2px);
}
.addSelect:focus, .addDesc:focus, .addValue:focus {
    outline: none;
    border: 1px solid #28B9B5;
}
.addBtn:focus {
  outline: none;
}

.container {
    width: 1000px;
    margin: 60px auto;
}
.income {
    float: left;
    width: 475px;
    margin-right: 50px;
}
.expenses {
    float: left;
    width: 475px;
}
h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}
.icomeTitre {
  color: #28B9B5;
}
.expensesTitre {
  color: #FF5049;
}
