html{
  height: 100%;
  font-size: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
/* ------------ */
.container{
  width: 100%;
  margin:auto;
}
.text1{
  background: rgb(255, 127, 80);
  padding: 0.1px 120px;
  color: white;
  font-size: 11px;
}
/* ------------ */
.nav{
  background: black;
  padding: 6px 114px;
  color: white;
  font-size: 12px;
}
ul{
  list-style: none;
  padding: 0px;
  position: relative;
}
li{
  display: inline-block;
  vertical-align: middle;
  margin: 0 6px;
}
/* ------------ */
.img{
  background-image : url("showcase.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 125px;
  line-height: 1.5;
}
#p_img{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: white;
}
/* ------------ */
.bloc{
  background: rgb(244, 244, 244);
  padding: 24px 128px;
  font-size: 13px;
}
#wel{
  font-size: 20px;
  font-weight: bold;
  color: rgb(51, 51, 51);
}
#td1{
  padding: 0 32px;
  color: rgb(51, 51, 51);
}
#td2{
  color: white;
  background-color: rgb(51,51,51);
  padding: 18px 8px;
}
/* ------------ */
.foot{
  background: rgb(51, 51, 51);
  padding : 14.5px 0;
  text-align: center;
  color: white;
  font-size: 13px;
}
